.Scene {
  width: 100%;
  height: 100%;
  display: flex;
}
.dropzone {
  margin: auto;
  width: 40%;
  height: 100%;
  border: 2px dashed yellow;
}
.scene-container {
  margin: auto;
  width: 40%;
  height: 100%;
  border: 2px dashed blue;
}
#dropzone-form {
  margin: 0;
  height: 100%;
}
#dropzone-form.highlight {
  background: lightblue;
}
#dropzone-form p{
  margin: 0;
}
#file-input {
  display: none;
}
.Scene .canvas{
  height: 0;
  width: 0;
}
.Scene .canvas.active{
  min-width: 32px;
  min-height: 32px;
}